<h1><center>Editing Phone</center></h1><br><br>

<body style="background-color:powderblue  ";>

<div class="container text-center" >

<%= render 'form', phone: @phone %><br>

<%= link_to 'Show', @phone %> |
<%= link_to 'Back', phones_path %>

</div>
