<h1><center>New Phone</center></h1><br><br>


<body style="background-color:powderblue  ";>

<div class="container text-center" >
<%= render 'form', phone: @phone %>

<%= link_to 'Back', phones_path %>

</div>
